In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
import math
from math import log
from collections import Counter

In [2]:
df_10038 = pd.read_csv('all_input_prepared_3436_movies.csv')
df_10038.head()

,imdb_id,star,genre,runtime,user,critc,dir_popu,ac1_popu,ac2_popu,ac3_popu,total_box_office,n_of_posters,opening_box_office,year,budget_mixed
0,tt0118523,4.8,Romance,113,39,22,1.000002,3.257304,1.624687,1.000292,3525125,7,1315445,1997,1000000
1,tt0119324,6.7,Comedy,85,89,41,1.624565,5.254345,1.832228,1.979961,617403,3,63266,1997,1500000
2,tt0119746,6.0,Comedy,93,36,34,1.000633,6.696419,3.785551,2.432161,505828,3,30533,1997,2000000
3,tt0119578,6.8,Comedy,108,51,13,1.000408,1.650657,2.244239,1.010800,2936611,3,167345,1997,2000000
4,tt0119256,7.3,Crime,96,149,65,2.492261,4.570843,5.039156,3.739935,142356,14,69486,1997,3000000

In [3]:
df_10038['year_box_office_label'] = 0
df_10038['train_test'] = 'N/A'
df_10038.head()

,imdb_id,star,genre,runtime,user,critc,dir_popu,ac1_popu,ac2_popu,ac3_popu,total_box_office,n_of_posters,opening_box_office,year,budget_mixed,year_box_office_label,train_test
0,tt0118523,4.8,Romance,113,39,22,1.000002,3.257304,1.624687,1.000292,3525125,7,1315445,1997,1000000,0,N/A
1,tt0119324,6.7,Comedy,85,89,41,1.624565,5.254345,1.832228,1.979961,617403,3,63266,1997,1500000,0,N/A
2,tt0119746,6.0,Comedy,93,36,34,1.000633,6.696419,3.785551,2.432161,505828,3,30533,1997,2000000,0,N/A
3,tt0119578,6.8,Comedy,108,51,13,1.000408,1.650657,2.244239,1.010800,2936611,3,167345,1997,2000000,0,N/A
4,tt0119256,7.3,Crime,96,149,65,2.492261,4.570843,5.039156,3.739935,142356,14,69486,1997,3000000,0,N/A

In [4]:
group_by_year = df_10038.groupby('year')

In [5]:
group_by_year.size()

year
1997     34
1998     26
1999     28
2000     19
2001     24
2002     54
2003    181
2004    192
2005    208
2006    259
2007    245
2008    269
2009    294
2010    278
2011    227
2012    121
2013    159
2014    180
2015    276
2016    238
2017    124
dtype: int64

In [6]:
group_by_year.get_group(2000)

,imdb_id,star,genre,runtime,user,critc,dir_popu,ac1_popu,ac2_popu,ac3_popu,total_box_office,n_of_posters,opening_box_office,year,budget_mixed,year_box_office_label,train_test
88,tt0204350,5.2,Comedy,85,36,11,1.000010,8.375867,1.459933,1.000265,3366,4,1813,2000,1200000,0,N/A
89,tt0037884,8.0,Drama,101,147,103,2.053531,2.662403,2.702508,1.000063,31043,22,16266,2000,1250000,0,N/A
90,tt1131749,4.4,Drama,95,17,10,1.029635,1.506610,3.567330,1.927000,2838,5,933,2000,1999000,0,N/A
91,tt0144142,5.2,Comedy,98,39,42,1.000800,4.610231,3.124729,2.835963,31844,5,11452,2000,3000000,0,N/A
92,tt0188030,7.6,Drama,96,47,48,1.307898,1.064662,1.064966,1.001905,2086098,10,31253,2000,3000000,0,N/A
93,tt0222012,8.0,Crime,199,50,10,1.234310,1.234310,1.730492,1.922230,274675,3,169402,2000,3900000,0,N/A
94,tt0220100,6.2,Drama,97,146,49,1.343532,3.257304,5.950267,7.350589,1057750,4,93148,2000,4000000,0,N/A
95,tt0151150,6.2,Action,162,10,1,1.002945,1.730492,4.607151,1.000302,426318,2,282881,2000,6900000,0,N/A
96,tt0189584,6.6,Drama,90,157,56,1.000000,6.046683,7.593723,1.934175,3713451,4,80957,2000,7000000,0,N/A
97,tt0127349,6.7,Drama,105,110,44,1.502938,4.102336,1.000000,1.019051,327418,3,150422,2000,8500000,0,N/A
98,tt0018773,8.1,Comedy,71,311,61,1.000000,1.000000,1.000095,1.071212,8406,22,8406,2000,9000000,0,N/A
99,tt0113026,5.7,Musical,86,71,23,1.000424,1.858707,1.856512,2.700371,44757,2,24176,2000,10000000,0,N/A
100,tt0170691,7.0,Drama,101,154,87,2.086373,4.444816,1.318501,2.301285,139500,20,26715,2000,10000000,0,N/A
101,tt0188160,6.4,Drama,118,13,48,1.000028,3.068406,1.120000,1.276774,3434515,1,1611833,2000,10000000,0,N/A
102,tt0205271,4.6,Comedy,121,258,110,2.695625,4.694406,5.146455,3.653627,22796811,7,5012867,2000,12000000,0,N/A
103,tt0182295,6.1,Romance,93,103,61,6.279035,2.858337,4.222820,6.928275,284291,6,24496,2000,13000000,0,N/A
104,tt0164212,6.5,Crime,110,165,60,1.034703,10.631442,5.350723,5.294942,334245,16,109863,2000,25000000,0,N/A
105,tt0207201,6.4,Comedy,127,399,153,2.246565,5.186713,5.146455,4.828882,374105123,29,4399,2000,65000000,0,N/A
106,tt0111503,7.2,Action,141,364,96,4.863165,5.794537,4.762187,2.506664,61900,30,8232,2000,115000000,0,N/A

In [7]:
total_range = 10

def label_by_year_sort_woth_box_office(year):
    
    group_year_movie = group_by_year.get_group(year)
    each_group_num = int(len(group_year_movie)/total_range)
    label_count = 0

    for i in range(0, len(group_by_year.get_group(year)),each_group_num):
        #group_year_movie.year_box_office_label.iloc[ i : i+each_group_num ] = label_count
        df_10038.year_box_office_label[group_by_year.groups[year][ i : i+each_group_num ]] = label_count
        label_count = label_count+1
        #print(df_10038.year_box_office_label[group_by_year.groups[year][i]])
        #if df_10038.year_box_office_label[group_by_year.groups[year][i]] < 0:
            #print(df_10038.year_box_office_label[group_by_year.groups[year][i]])
            #df_10038.year_box_office_label[group_by_year.groups[year][ i : i+each_group_num ]] = 0
            
for i in group_by_year.groups.keys():
    label_by_year_sort_woth_box_office(i)

for k in range(0, len(df_10038.year_box_office_label)):
    if df_10038.year_box_office_label[k] > total_range-1:
        df_10038.year_box_office_label[k] = total_range-1

/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df_sort_y_Rnum = df_10038.groupby(['year_box_office_label'])
df_sort_y_Rnum.size()

year_box_office_label
0    332
1    332
2    332
3    332
4    332
5    332
6    332
7    332
8    332
9    448
dtype: int64

In [9]:
df_sort_y_Rnum = df_10038.groupby(['year', 'year_box_office_label'])
df_sort_y_Rnum.size()

year  year_box_office_label
1997  0                         3
      1                         3
      2                         3
      3                         3
      4                         3
      5                         3
      6                         3
      7                         3
      8                         3
      9                         7
1998  0                         2
      1                         2
      2                         2
      3                         2
      4                         2
      5                         2
      6                         2
      7                         2
      8                         2
      9                         8
1999  0                         2
      1                         2
      2                         2
      3                         2
      4                         2
      5                         2
      6                         2
      7                         2
      8                         2
      9                        10
                               ..
2015  0                        27
      1                        27
      2                        27
      3                        27
      4                        27
      5                        27
      6                        27
      7                        27
      8                        27
      9                        33
2016  0                        23
      1                        23
      2                        23
      3                        23
      4                        23
      5                        23
      6                        23
      7                        23
      8                        23
      9                        31
2017  0                        12
      1                        12
      2                        12
      3                        12
      4                        12
      5                        12
      6                        12
      7                        12
      8                        12
      9                        16
Length: 210, dtype: int64

In [10]:
pair_list = df_sort_y_Rnum.groups.keys()
type(pair_list)

dict_keys

In [11]:
df_sort_y_Rnum.get_group((1997, 1))

,imdb_id,star,genre,runtime,user,critc,dir_popu,ac1_popu,ac2_popu,ac3_popu,total_box_office,n_of_posters,opening_box_office,year,budget_mixed,year_box_office_label,train_test
3,tt0119578,6.8,Comedy,108,51,13,1.000408,1.650657,2.244239,1.010800,2936611,3,167345,1997,2000000,1,N/A
4,tt0119256,7.3,Crime,96,149,65,2.492261,4.570843,5.039156,3.739935,142356,14,69486,1997,3000000,1,N/A
5,tt0119062,5.6,Drama,122,69,48,1.781427,1.314403,1.899701,11.936270,386673,10,64154,1997,5000000,1,N/A

In [12]:
#original index in df_10038
df_sort_y_Rnum.groups[(1997,1)][0]

3

In [ ]:
#for index in range(0, len(df_sort_y_Rnum.groups[(1997,1)])):
    #print(index)
    #print(df_sort_y_Rnum.groups[(1997,1)][index])

In [13]:
#len(index_num_list)
for sp_keys in df_sort_y_Rnum.groups.keys():
    print('sp_key: ',sp_keys)
    spcified_year_df = df_sort_y_Rnum.get_group(sp_keys)
    threshold = int(len(spcified_year_df)*0.2)
    print(threshold)
    for index_i in range(0,len(df_sort_y_Rnum.groups[sp_keys])):
        if index_i <= threshold:
            #print('train')
            #print(df_sort_y_Rnum.groups[sp_keys][index_i])
            df_10038['train_test'][ df_sort_y_Rnum.groups[sp_keys][index_i] ] = 'test'
        else:
            #print('test')
            #print(df_sort_y_Rnum.groups[sp_keys][index_i])
            df_10038['train_test'][ df_sort_y_Rnum.groups[sp_keys][index_i] ] = 'train'

sp_key:  (1997, 0)
0
sp_key:  (1997, 1)
0
sp_key:

/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/linyujing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

 (1997, 2)
0
sp_key:  (1997, 3)
0
sp_key:  (1997, 4)
0
sp_key:  (1997, 5)
0
sp_key:  (1997, 6)
0
sp_key:  (1997, 7)
0
sp_key:  (1997, 8)
0
sp_key:  (1997, 9)
1
sp_key:  (1998, 0)
0
sp_key:  (1998, 1)
0
sp_key:  (1998, 2)
0
sp_key:  (1998, 3)
0
sp_key:  (1998, 4)
0
sp_key:  (1998, 5)
0
sp_key:  (1998, 6)
0
sp_key:  (1998, 7)
0
sp_key:  (1998, 8)
0
sp_key:  (1998, 9)
1
sp_key:  (1999, 0)
0
sp_key:  (1999, 1)
0
sp_key:  (1999, 2)
0
sp_key:  (1999, 3)
0
sp_key:  (1999, 4)
0
sp_key:  (1999, 5)
0
sp_key:  (1999, 6)
0
sp_key:  (1999, 7)
0
sp_key:  (1999, 8)
0
sp_key:  (1999, 9)
2
sp_key:  (2000, 0)
0
sp_key:  (2000, 1)
0
sp_key:  (2000, 2)
0
sp_key:  (2000, 3)
0
sp_key:  (2000, 4)
0
sp_key:  (2000, 5)
0
sp_key:  (2000, 6)
0
sp_key:  (2000, 7)
0
sp_key:  (2000, 8)
0
sp_key:  (2000, 9)
2
sp_key:  (2001, 0)
0
sp_key:  (2001, 1)
0
sp_key:  (2001, 2)
0
sp_key:  (2001, 3)
0
sp_key:  (2001, 4)
0
sp_key:  (2001, 5)
0
sp_key:  (2001, 6)
0
sp_key:  (2001, 7)
0
sp_key:  (2001, 8)
0
sp_key:  (2001, 9)
1
sp_key:  (2002, 0)
1
sp_key:  (2002, 1)
1
sp_key:  (2002, 2)
1
sp_key:  (2002, 3)
1
sp_key:  (2002, 4)
1
sp_key:  (2002, 5)
1
sp_key:  (2002, 6)
1
sp_key:  (2002, 7)
1
sp_key:  (2002, 8)
1
sp_key:  (2002, 9)
1
sp_key:  (2003, 0)
3
sp_key:  (2003, 1)
3
sp_key:  (2003, 2)
3
sp_key:  (2003, 3)
3
sp_key:  (2003, 4)
3
sp_key:  (2003, 5)
3
sp_key:  (2003, 6)
3
sp_key:  (2003, 7)
3
sp_key:  (2003, 8)
3
sp_key:  (2003, 9)
3
sp_key:  (2004, 0)
3
sp_key:  (2004, 1)
3
sp_key:  (2004, 2)
3
sp_key:  (2004, 3)
3
sp_key:  (2004, 4)
3
sp_key:  (2004, 5)
3
sp_key:  (2004, 6)
3
sp_key:  (2004, 7)
3
sp_key:  (2004, 8)
3
sp_key:  (2004, 9)
4
sp_key:  (2005, 0)
4
sp_key:  (2005, 1)
4
sp_key:  (2005, 2)
4
sp_key:  (2005, 3)
4
sp_key:  (2005, 4)
4
sp_key:  (2005, 5)
4
sp_key:  (2005, 6)
4
sp_key:  (2005, 7)
4
sp_key:  (2005, 8)
4
sp_key:  (2005, 9)
5
sp_key:  (2006, 0)
5
sp_key:  (2006, 1)
5
sp_key:  (2006, 2)
5
sp_key:  (2006, 3)
5
sp_key:  (2006, 4)
5
sp_key:  (2006, 5)
5
sp_key:  (2006, 6)
5
sp_key:  (2006, 7)
5
sp_key:  (2006, 8)
5
sp_key:  (2006, 9)
6
sp_key:  (2007, 0)
4
sp_key:  (2007, 1)
4
sp_key:  (2007, 2)
4
sp_key:  (2007, 3)
4
sp_key:  (2007, 4)
4
sp_key:  (2007, 5)
4
sp_key:  (2007, 6)
4
sp_key:  (2007, 7)
4
sp_key:  (2007, 8)
4
sp_key:  (2007, 9)
5
sp_key:  (2008, 0)
5
sp_key:  (2008, 1)
5
sp_key:  (2008, 2)
5
sp_key:  (2008, 3)
5
sp_key:  (2008, 4)
5
sp_key:  (2008, 5)
5
sp_key:  (2008, 6)
5
sp_key:  (2008, 7)
5
sp_key:  (2008, 8)
5
sp_key:  (2008, 9)
7
sp_key:  (2009, 0)
5
sp_key:  (2009, 1)
5
sp_key:  (2009, 2)
5
sp_key:  (2009, 3)
5
sp_key:  (2009, 4)
5
sp_key:  (2009, 5)
5
sp_key:  (2009, 6)
5
sp_key:  (2009, 7)
5
sp_key:  (2009, 8)
5
sp_key:  (2009, 9)
6
sp_key:  (2010, 0)
5
sp_key:  (2010, 1)
5
sp_key:  (2010, 2)
5
sp_key:  (2010, 3)
5
sp_key:  (2010, 4)
5
sp_key:  (2010, 5)
5
sp_key:  (2010, 6)
5
sp_key:  (2010, 7)
5
sp_key:  (2010, 8)
5
sp_key:  (2010, 9)
7
sp_key:  (2011, 0)
4
sp_key:  (2011, 1)
4
sp_key:  (2011, 2)
4
sp_key:  (2011, 3)
4
sp_key:  (2011, 4)
4
sp_key:  (2011, 5)
4
sp_key:  (2011, 6)
4
sp_key:  (2011, 7)
4
sp_key:  (2011, 8)
4
sp_key:  (2011, 9)
5
sp_key:  (2012, 0)
2
sp_key:  (2012, 1)
2
sp_key:  (2012, 2)
2
sp_key:  (2012, 3)
2
sp_key:  (2012, 4)
2
sp_key:  (2012, 5)
2
sp_key:  (2012, 6)
2
sp_key:  (2012, 7)
2
sp_key:  (2012, 8)
2
sp_key:  (2012, 9)
2
sp_key:  (2013, 0)
3
sp_key:  (2013, 1)
3
sp_key:  (2013, 2)
3
sp_key:  (2013, 3)
3
sp_key:  (2013, 4)
3
sp_key:  (2013, 5)
3
sp_key:  (2013, 6)
3
sp_key:  (2013, 7)
3
sp_key:  (2013, 8)
3
sp_key:  (2013, 9)
4
sp_key:  (2014, 0)
3
sp_key:  (2014, 1)
3
sp_key:  (2014, 2)
3
sp_key:  (2014, 3)
3
sp_key:  (2014, 4)
3
sp_key:  (2014, 5)
3
sp_key:  (2014, 6)
3
sp_key:  (2014, 7)
3
sp_key:  (2014, 8)
3
sp_key:  (2014, 9)
3
sp_key:  (2015, 0)
5
sp_key:  (2015, 1)
5
sp_key:  (2015, 2)
5
sp_key:  (2015, 3)
5
sp_key:  (2015, 4)
5
sp_key:  (2015, 5)
5
sp_key:  (2015, 6)
5
sp_key:  (2015, 7)
5
sp_key:  (2015, 8)
5
sp_key:  (2015, 9)
6
sp_key:  (2016, 0)
4
sp_key:  (2016, 1)
4
sp_key:  (2016, 2)
4
sp_key:  (2016, 3)
4
sp_key:  (2016, 4)
4
sp_key:  (2016, 5)
4
sp_key:  (2016, 6)
4
sp_key:  (2016, 7)
4
sp_key:  (2016, 8)
4
sp_key:  (2016, 9)
6
sp_key:  (2017, 0)
2
sp_key:  (2017, 1)
2
sp_key:  (2017, 2)
2
sp_key:  (2017, 3)
2
sp_key:  (2017, 4)
2
sp_key:  (2017, 5)
2
sp_key:  (2017, 6)
2
sp_key:  (2017, 7)
2
sp_key:  (2017, 8)
2
sp_key:  (2017, 9)
3

In [14]:
df_10038.to_csv('10_cate_v1_all_input_prepared_3436_movies.csv')

In [15]:
df_10038

,imdb_id,star,genre,runtime,user,critc,dir_popu,ac1_popu,ac2_popu,ac3_popu,total_box_office,n_of_posters,opening_box_office,year,budget_mixed,year_box_office_label,train_test
0,tt0118523,4.8,Romance,113,39,22,1.000002,3.257304,1.624687,1.000292,3525125,7,1315445,1997,1000000,0,test
1,tt0119324,6.7,Comedy,85,89,41,1.624565,5.254345,1.832228,1.979961,617403,3,63266,1997,1500000,0,train
2,tt0119746,6.0,Comedy,93,36,34,1.000633,6.696419,3.785551,2.432161,505828,3,30533,1997,2000000,0,train
3,tt0119578,6.8,Comedy,108,51,13,1.000408,1.650657,2.244239,1.010800,2936611,3,167345,1997,2000000,1,test
4,tt0119256,7.3,Crime,96,149,65,2.492261,4.570843,5.039156,3.739935,142356,14,69486,1997,3000000,1,train
5,tt0119062,5.6,Drama,122,69,48,1.781427,1.314403,1.899701,11.936270,386673,10,64154,1997,5000000,1,train
6,tt0093744,5.9,Family,100,37,9,2.036516,1.168000,1.046800,1.000800,779200,5,62196,1997,5000000,2,test
7,tt0120389,3.5,Action,99,56,30,1.075278,1.000480,1.000000,1.002705,8363899,6,3301135,1997,10000000,2,train
8,tt0119906,5.6,Crime,94,50,36,1.000341,2.224303,1.526275,9.968347,4428527,12,1937374,1997,12000000,2,train
9,tt0119535,6.4,Comedy,103,176,67,1.571111,6.941386,9.131200,3.057880,14633270,15,2007279,1997,12000000,3,test
10,tt0091149,7.2,Animation,74,99,58,1.353790,2.532822,1.329280,1.000118,6707,40,6707,1997,14000000,3,train
11,tt0116922,7.6,Mystery,134,465,140,3.757597,11.936270,3.670424,1.000148,3816306,32,212710,1997,15000000,3,train
12,tt0119859,6.8,Drama,122,52,31,2.091148,3.635871,4.658718,1.358093,1990257,5,62518,1997,16000000,4,test
13,tt0118691,5.3,Comedy,105,43,23,1.076319,1.911825,5.413238,2.457099,11486880,10,4080222,1997,16000000,4,train
14,tt0120029,5.9,Comedy,95,76,26,2.649119,1.316149,1.456924,2.751189,15448043,13,4472937,1997,16000000,4,train
15,tt0119887,5.0,Comedy,82,134,16,1.173280,5.637282,2.625677,2.633347,3533790,6,1817278,1997,17000000,5,test
16,tt0120112,5.9,Drama,100,75,55,2.264101,5.109926,7.315426,7.240910,7281450,6,3020015,1997,18000000,5,train
17,tt0120399,6.8,Crime,125,213,113,2.290933,5.109926,5.188850,2.091106,6690074,35,2730440,1997,19000000,5,train
18,tt0119896,5.5,Comedy,105,73,56,1.457699,6.636919,1.727059,12.198778,31301775,16,7809026,1997,19000000,6,test
19,tt0118531,6.7,Drama,119,95,29,2.217428,21.798855,2.293400,2.315569,5747802,17,2222984,1997,20000000,6,train
20,tt0118604,5.1,Comedy,105,161,77,1.011202,2.158126,3.936174,1.000325,26570463,12,7600878,1997,22000000,6,train
21,tt0119832,5.8,Drama,102,40,39,1.343532,4.548112,7.653999,4.227094,2642718,7,978819,1997,24000000,7,test
22,tt0120434,5.9,Comedy,93,95,35,1.000012,3.022647,4.328744,2.345370,36470465,17,12837927,1997,25000000,7,train
23,tt0119951,6.8,Biography,109,104,32,2.070356,1.052557,2.556954,1.000240,41198146,6,14616333,1997,28000000,7,train
24,tt0119013,4.7,Action,93,93,71,2.942944,8.213718,1.146593,4.112039,11328565,29,5034914,1997,30000000,8,test
25,tt0120036,7.2,Action,140,62,37,1.059910,3.990297,6.375302,4.670080,13104494,2,3154075,1997,30000000,8,train
26,tt0119311,6.3,Crime,130,60,45,2.034572,6.584138,3.549680,2.182053,23489997,5,8162768,1997,30000000,8,train
27,tt0119675,5.9,Horror,105,166,129,4.546367,4.878360,1.716474,1.000049,25514166,21,7818208,1997,30000000,9,test
28,tt0119718,3.9,Adventure,84,52,16,1.093763,4.758426,2.937393,2.587713,28937192,8,5233631,1997,30000000,9,test
29,tt0119142,5.7,Comedy,115,39,27,1.057125,2.576039,2.236266,2.448669,31680796,14,6015970,1997,35000000,9,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3406,tt5117670,6.6,Animation,93,168,116,1.784900,4.089027,1.000342,6.787332,229932640,47,25010928,2017,50000000,7,train
3407,tt0245803,5.5,Action,104,179,131,1.008856,2.633037,4.563715,4.396851,10606,19,8653542,2017,52000000,7,train
3408,tt5478478,7.2,Adventure,134,211,186,2.050654,1.000379,11.705044,1.000000,31576781,25,22849,2017,55000000,8,test
3409,tt2798920,7.0,Adventure,115,"1,098",328,3.674672,14.229283,13.478412,9.774856,32158866,41,11071584,2017,55000000,8,test
3410,tt2296777,4.8,Animation,86,53,71,1.607062,1.056104,1.055420,9.036686,30822216,16,10604774,2017,59000000,8,test
3411,tt1648190,5.7,Action,95,567,321,2.045380,8.066664,6.822825,1.030829,113019314,95,19153698,2017,60000000,8,train
3412,tt1469304,5.6,Action,116,313,312,2.270762,10.726285,10.485838,33.676694,176533570,106,18503871,2017,60000000,8,train
3413,tt4500922,6.3,Action,142,282,182,1.171457,6.933386,4.929366,9.262305,283923129,59,24167011,2017,61000000,8,train
3414,tt1389072,5.7,Comedy,135,485,318,1.427774,8.312798,6.221535,1.532040,39210035,55,4954287,2017,68000000,8,train
3415,tt5657846,6.0,Comedy,100,124,133,2.289347,3.208619,9.613769,5.186713,176154137,33,29651193,2017,70000000,8,train
3416,tt3469046,6.3,Animation,96,170,246,2.794068,5.685390,6.555163,3.345332,1034542646,80,72434025,2017,75000000,8,train
3417,tt1365519,6.5,Action,118,717,339,1.042504,21.958446,7.091445,3.422197,246895273,35,23633317,2017,90000000,8,train
3418,tt1981128,5.3,Action,109,408,163,2.444725,8.855477,2.473132,3.487368,220800160,55,13707376,2017,100000000,8,train
3419,tt1620680,4.2,Adventure,109,487,223,1.978289,1.447607,2.828409,6.783647,104499038,62,33123609,2017,103000000,8,train
3420,tt4649466,6.8,Action,141,540,322,3.769596,8.113435,5.661008,11.245219,408834838,106,39023010,2017,104000000,9,test
3421,tt3411444,6.7,Animation,107,86,124,1.437227,5.662856,1.660610,6.200678,290816813,53,13401586,2017,111000000,9,test
3422,tt0242653,6.7,Action,129,"2,118",244,3.493008,11.551851,6.584138,5.061440,1404,53,48475154,2017,150000000,9,test
3423,tt1677720,7.7,Action,140,"1,149",472,7.709623,4.730758,6.933807,6.115552,181520163,60,13585,2017,150000000,9,test
3424,tt5013056,8.0,Action,107,"1,911",608,4.958880,1.303796,1.325193,1.611110,499518504,56,50513488,2017,150000000,9,train
3425,tt3450958,7.5,Action,140,770,434,4.379365,8.398665,9.915538,3.669236,490280162,86,56262929,2017,152000000,9,train
3426,tt2557478,5.7,Action,111,453,235,1.943137,3.481561,3.731616,7.649229,214600188,48,28116535,2017,155000000,9,train
3427,tt2015381,8.1,Action,121,"1,199",685,2.815980,29.230434,11.666195,5.798012,4364740,158,94320883,2017,170000000,9,train
3428,tt3606752,6.8,Animation,109,259,261,2.022956,6.809752,1.030720,2.889292,383601115,81,53688680,2017,175000000,9,train
3429,tt2380307,8.5,Animation,105,593,364,1.819264,1.168529,2.341897,3.666439,780299991,71,50802605,2017,175000000,9,train
3430,tt2239822,6.5,Action,136,812,349,3.819249,1.555467,2.397777,6.652967,215116144,106,17007624,2017,180000000,9,train
3431,tt1856101,8.1,Drama,163,"1,742",571,2.972281,9.157321,7.875337,11.755591,259143008,99,32753122,2017,185000000,9,train
3432,tt6015328,6.9,Action,128,16,21,1.000001,12.924972,4.069934,1.000214,86855981,7,138346,2017,200000000,9,train
3433,tt1825683,7.5,Action,134,"2,129",570,2.711359,4.289937,5.522272,3.558248,1273623549,108,125342,2017,200000000,9,train
3434,tt3371366,5.2,Action,149,657,272,7.296860,9.613769,10.561283,7.059138,603968683,112,44680073,2017,217000000,9,train
3435,tt2488496,8.0,Action,136,"4,407",854,5.941918,7.854414,3.481561,6.781492,58154,223,37062535,2017,245000000,9,train

In [16]:
divi_train_test = df_10038.groupby('train_test')
divi_train_test.size()

train_test
test      812
train    2624
dtype: int64

In [17]:
divi_train_test = df_10038.groupby(['train_test', 'year_box_office_label'])
divi_train_test.size()

train_test  year_box_office_label
test        0                         79
            1                         79
            2                         79
            3                         79
            4                         79
            5                         79
            6                         79
            7                         79
            8                         79
            9                        101
train       0                        253
            1                        253
            2                        253
            3                        253
            4                        253
            5                        253
            6                        253
            7                        253
            8                        253
            9                        347
dtype: int64

In [20]:
divi_train_test = df_10038.groupby(['train_test', 'year_box_office_label', 'year'])
divi_train_test.size()

train_test  year_box_office_label  year
test        0                      1997     1
                                   1998     1
                                   1999     1
                                   2000     1
                                   2001     1
                                   2002     2
                                   2003     4
                                   2004     4
                                   2005     5
                                   2006     6
                                   2007     5
                                   2008     6
                                   2009     6
                                   2010     6
                                   2011     5
                                   2012     3
                                   2013     4
                                   2014     4
                                   2015     6
                                   2016     5
                                   2017     3
            1                      1997     1
                                   1998     1
                                   1999     1
                                   2000     1
                                   2001     1
                                   2002     2
                                   2003     4
                                   2004     4
                                   2005     5
                                           ..
train       8                      2009    23
                                   2010    21
                                   2011    17
                                   2012     9
                                   2013    11
                                   2014    14
                                   2015    21
                                   2016    18
                                   2017     9
            9                      1997     5
                                   1998     6
                                   1999     7
                                   2000     7
                                   2001     4
                                   2002     7
                                   2003    15
                                   2004    16
                                   2005    22
                                   2006    27
                                   2007    23
                                   2008    27
                                   2009    26
                                   2010    27
                                   2011    23
                                   2012    10
                                   2013    19
                                   2014    14
                                   2015    26
                                   2016    24
                                   2017    12
Length: 411, dtype: int64

In [18]:
df_10038[df_10038.train_test == 'test'].to_csv('test_10cate_3436_movie.csv')

In [19]:
df_10038[df_10038.train_test == 'train'].to_csv('train_10cate_3436_movie.csv')

In [ ]:
y_train=([0]*253 + [1]*253 + [2]*253 + [3]*253 + [4]*253 + [5]*253 +[6]*253 + [7]*253 + [8]*253 + [9]*347)
y_test=([0]*79 + [1]*79 + [2]*79 + [3]*79 + [4]*79 + [5]*79 + [6]*79 + [7]*79 + [8]*79 + [9]*101)